@import '../../_css/common';

.introContent {
  position: relative;
  margin-bottom: calc(var(--base) * 2);

  @include mid-break {
    margin-bottom: var(--base);
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(30%, 1fr));
  padding: 0;
  gap: 30px;

  @include mid-break {
    gap: 20px;
  }

  @include small-break {
    grid-template-columns: 100%;
  }
}

.column {
  grid-column-end: span 12;
}

.title {
  font-weight: 400;
  margin-bottom: 30px;
}

.relatedProducts {
  padding-top: var(--base);
  width: 100%;
}